<nav class="nav"><a href="/"> Home</a> |
    <a href="/mercury"> Mercury</a> |
    <a href="/venus"> Venus</a> |
    <a href="/earth"> Earth </a> |
    <a href="/mars"> Mars</a> |
    <a href="/jupiter"> Jupiter</a> |
    <a href="/saturn"> Saturn</a> |
    <a href="/uranus"> Uranus</a> |
    <a href="/neptune"> Neptune</a> |
    <a href="/pluto"> Pluto</a>
</nav>