<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
     <div class="page-wrapper">
      <div class="backdrop">
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Earth</h2><br>
    <%=   planetEarth.description  %><br>
    <img src="<%= planetEarth.image %>" class="pageImg">
     </div>
    </div>
</body>
</html>
